<div class="row">

  <div class="topbar" data-scrollspy="scrollspy">
    <div class="topbar-inner">
      <div class="container">
        <a class="brand" href="#">Checklist</a>
        <ul class="nav">
          <li class="">
            <a href="#">ABC</a>
          </li>
          <li class="">
            <a href="#">XYZ</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="secondary hearder" style="padding-top: 40px;"> 
    <% if current_user %>
      <p align="left">Welcome <span class="label success"><%= current_user.name %>!</span></p>
      <p align="right"><%= link_to "Account", accounts_path, :class => "btn info" %></p>
      <p align="right"><%= link_to "Sign Out", signout_path, :class => "btn danger" %></p>
    <% else %>
      <%#= link_to "Sign in with Twitter", "/auth/twitter" %>
      <%= link_to "Sign in with Facebook", "/auth/facebook", :class => "btn primary" %>
    <% end %>
  </div>
</div>
