<table>
  <% Hashcard.all.each do |hashcard| %>
    <tr><td>
      "<b><%= link_to hashcard.name, ("card/"+hashcard.user.id.to_s+"/"+hashcard.name.to_str) %></b>" card by <b><%= hashcard.user.name %></b>
    </td></tr>
  <% end %>
</table>
