<%
  paginated_cards = Hashcard.paginate(:page => params[:page], :per_page => 4)
%>

<div class="digg_pagination">
    <div clas="page_info">
      <%= page_entries_info paginated_cards %>
    </div>
    <%= will_paginate paginated_cards, :container => false %>
</div>

<h2>Latest Hash Card</h2>
<table class="bordered-table zebra-striped">
  <tr><th>Hash Card</th><th>User</th></tr>
  <% paginated_cards.all.each do |hashcard| %>
    <tr><td><%= link_to hashcard.name, ("card/"+hashcard.user.id.to_s+"/"+hashcard.name.to_str) %></td><td><%= link_to hashcard.user.name, list_by_users_path(:id => hashcard.user.id) %></td></tr>
  <% end %>
</table>
<script>
  $("tr:odd").css("background-color", "#bbbbff");
</script>
