<h1>Account Control Panel</h1>

<table>
  <tr><td>Edit Hash Card Name</td><td><%= link_to "HC Name", hashcards_path, :class => "btn primary" %></td></tr>
  <tr><td>Edit Hash Card's Task's Name</td><td><%= link_to "Task Name", tasks_path, :class => "btn primary" %></td></tr>

</table>
